@use '../../styles/colors.scss' as colors;

.section-layout{
    width:  100%;
    height: 100%;
    padding: 5rem;
    // padding-left: 5rem;
    // padding-right: 5rem;
    background-color: #ededed;
    margin-top: 30px; //narbar에 top: 설정으로 인해서 margin-top주지 않으면 겹쳐보임 
}

.section-container{
    height: 1200px; // 지워야함
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 1rem;
    div{
        flex: 1; 
        background-color: #e0e0e0;
        padding: 2rem;
        text-align: center;
        border: 1px solid #ccc;
    }
}

.section-content-container{
    .content-title{
        font-size: 30px;
        margin-bottom: 15px;
        display: flex;
        justify-content: start;
        span {
            color: colors.$primary-color;
        }
        p {
            margin: 0;
        }
    }
    .section-content-button-container{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        padding: 0px;
        border: solid 0;
        margin-top: 30px;
        .get-started-btn{
            width: 150px;
            height: 50px;
            border-radius: 10px;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            border: 1px solid colors.$primary-color;
            background-color: colors.$primary-color;
            box-shadow: none; 
            transition: color 0.5s ease, background-color 0.5s ease;
            &:hover{
                background-color: colors.$hovered-color; 
                border-color: colors.$hovered-color;
            }
        }
        .give-btn{
            width: 150px;
            height: 50px;
            border-radius: 10px;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            border: 1px solid colors.$primary-color;
            background-color: colors.$primary-color;
            box-shadow: none; 
            transition: color 0.5s ease, background-color 0.5s ease;
            &:hover{
                background-color: colors.$hovered-color; 
                border-color: colors.$hovered-color;
            }
        }
    }
}

@media (max-width: 1200px) {
    .section-container {
        flex-direction: column; 
        div {
            width: 100%; 
        }
    }
}