
.doc-intro{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 20px;
    h1{
        font-size: 25px;
        margin-bottom: 15px;
    }
    p{
        font-size: 15px;
    }
}