@use '../../styles/colors.scss' as colors;

.section-layout{
    width:  100%;
    padding: 3rem 3rem 3rem 3rem;
    // padding-left: 5rem;
    // padding-right: 5rem;
    background-color: #ededed;
    margin-top: 30px; //narbar에 top: 설정으로 인해서 margin-top주지 않으면 겹쳐보임
    z-index: 8888;
}

.section-container{
    height: auto; 
    display: flex; 
    z-index: 8888;
}

// @media (max-width: 1200px) {
//     .section-container {
//         flex-direction: column; 
//         div {
//             width: 100%; 
//         }
//     }
// }