

.top-nav-bar {
    height: 85px;
    width: 100%;
    background: gray;
  
    .layout-topbar-news {
      height: 30px;
      width: auto;
      background: black;
      display: flex;
      flex-direction: center;
      justify-content: center;
      .news{
        width: 30%;
        background-color: yellow;
        padding: 0 2rem;
      }
    }

    .layout-top-bar{
      height: 100%;
      width: auto;
      background-color: #9073ce;
      padding: 0 4rem;
      display: flex;
      flex-direction: center;
      justify-content: center;
      .top-menu{
        width: 80%;
        height: 100%;
        background-color: #222222;
        padding: 0 4rem;
      }
    }
}