.sidebar-container {
  width: 100%;
  height: auto;
  background-color: #8a6363;
  display: flex;
  justify-content: space-between;
}


.sidebar-nav {



  ul {
    display: flex;
    flex-direction: column;
    li {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

}

