

// Kanban background layout
.sf-kanban-layout {
    width: 900px;
    height: 800px;
    background-color: var(--layout-bg-color, #eeeeee); // 두 번째 인수는 기본값;
    display: flex;
}

.sf-kanban-container{
    width: 300px;
    min-height: 150px;
    height: auto;
    margin-left: 10px;
    background-color: #ffffff;
    flex-direction: column;
}

// Kanban board 
.sf-kanban-board-container{
    width: 300px;
    height: 80px;
    background-color: #c4baba;
    margin-bottom: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 3px 3px rgba(0,0,0,0.20);
}

.kanban-board-top-line{
    width: 300px;
    height: 3px;
    background-color: #4224ff;
}

.kanban-board-content{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.kanban-board-title{
    font-weight: 500;
    color: #277edc;
}
.kanban-board-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kanban-board-countlist{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.count-with-icon{
    display:inline-flex;
    align-items:center;
    gap:2px;
    margin-right:15px;
    vertical-align: middle;
    span{
        font-size:13px;
        line-height:1;
        display:block;
        cursor:pointer;
    }
}
.kanban-board-down-arrow{
    width:1em;
    height:1em;
    display:block;
}
.kanban-board-create-arrow{
    width: 18px;
    height: 18px;
    color: #767676;

    cursor: pointer;
}

// Kanban cord
.sf-kanban-card-container{
    width: 300px;
    height: 150px;
    background-color: #eeeeee;
    border-top: 0.5px solid #dadada;
    border-bottom: 0.5px solid #dadada;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: flex;
    flex-direction: row;
    .kanban-card-left-line{
        width: 3px;
        height: 100%;
        background-color: #0f6945;
    }
}
.kanban-card-content{
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #b61d1d;
}
.kanban-card-content-detail{
    display: flex;
    flex: 7;
    background-color: #bd6f6f;
    .card-username-letter{

    }
    .card-title{

    }

}
.kanban-card-feature-icons{
    flex: 3;
    background-color: #4a1010;
}

.no-data-card-container{
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: #767676;
}

.drop-indicator {
    height: 3px;
    background: transparent;
}

.drop-indicator.active {
    background: #007aff;
}