.doc-layout {
    display: flex;
    width: 100%;
    // height: 100vh; /* 필요에 따라 조정 */
    height: auto;
    min-height: 100vh;
    align-items: start;
    
    /* 자식 div의 비율 설정 */
    .sidebar-left {
      width: 290px;
      max-width: 290px;
      height: 100vh;
       /* 고정 크기로 유지 */
      flex: 0 0 290px;  // flex-grow:0, flex-shrink:0, flex-basis:294.4px
      background-color: #d05e5e;
      padding: 1rem;
      box-sizing: border-box;
      position: sticky;
      top: 135px;
      left: 0px;
      overflow-y: auto;
    }
  
    .doc-content {
      width: 100%;
      flex: 1 1 auto;
      background-color: #ffffff;
      padding: 1rem;
      box-sizing: border-box;
        /* section-layout 스타일 */
    }
  
    /* 오른쪽 사이드바 */
    .sidebar-right {
      width: 290px;
      height: 100vh;
      max-width: 290px;;
      /* 오른쪽 사이드바도 고정 크기로 유지 */
      flex: 0 0 290.0px; 
      background-color: #4c3d3d;
      position: sticky;
      top: 135px;
      right: 0px;
    }
  }
  
  /* 반응형 디자인: 화면 너비가 1200px 이하일 때 */
  @media (max-width: 1200px) {
    .doc-layout {
      flex-direction: column;
      .sidebar-left,
      .sidebar-right {
        display: none; /* 사이드바 숨기기 */
      }
      .doc-content{
        width: 100%;
      }
  
      .main {
        flex: none;
        width: 100%;
      }
    }
  }